<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>豆包 多模态 视觉大模型</title>
  <link rel="stylesheet" href="/styles/style.css">

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

  <!-- jQuery and DataTables JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

  <script>
    function formatText(text) {
      return text.replace(/\n/g, '<br>');
    }
  </script>
</head>
<body>
  <header class="theme-bar">
    <div class="logo">
      <img src="/favicon.png" alt="Logo" />
    </div>
    <nav class="theme-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/cfitc">视频质检</a></li> 
        <li><a href="/wzyt">卡车加油</a></li> 
        <li><a href="http://alb-27kn6o0594jr41itbhcakqbco.cn-hongkong.volcalb.com">Dify</a></li> 
      </ul>
    </nav>
  </header>
  
  <h1>豆包视觉大模型</h1>
  <p><a href="/cfitc">双录视频频质检</a></p>
  <p><a href="/wzyt">卡车加油</a></p>
  <p><a href="http://alb-27kn6o0594jr41itbhcakqbco.cn-hongkong.volcalb.com">Dify</a></p>
</body>

